<div class="container">
    <h1>Vorstand</h1>
    <p>Hier finden Sie eine Liste aller Vorstandsmitglieder.</p>
    <hr>
    <h1>Österreich-Guatemala Gesellschaft</h1>
    <p><i>(gegründet: 2003)</i></p>
    <div class="paragraph">
        <p><strong>Präsident: </strong>Sektionschef i.R. Prof. Mag. Emmerich Bachmayer</p>
        <p><strong>Vizepräsident: </strong>Hofrat Mag. Friedrich Baaz</p>
        <p><strong>Vizepräsidentin: </strong>Ministerialrätin Mag. Heidrun Strohmeyer</p>
        <p><strong>Generalsekretär: </strong>Sektionschef i.R. Dr. Wolfgang Fellner</p>
        <p><strong>Schatzmeister: </strong>Dipl.-Kfm. Dipl.-Soz. Michael Svoboda</p>
        <p><strong>Stellvertretender Schatzmeister: </strong>Robert Gabriel</p>
        <p>Sektionschef i.R. Mag. Wolfgang Stelzmüller</p>
        <p>Oberstudienrat Dir. Mag. Michael Peitler</p>
    </div>
    <div class="paragraph">
        <p><strong>Vereinsadresse: </strong>Czartoryskigasse 159/10 1170 Wien</p>
        <!-- <p><strong>Kontakt: </strong><a href="mailto://emmerich.backmayer@gmx.at">emmerich.bachmayer@gmx.at</a>, Mobil:
            +43 664 450 0149</p> -->
    </div>
</div>