<div class="container">
    <h1>IMPRESSUM</h1>
    <hr>
    <p>
        Impressum gem. § 24 MedienGesetz, Offenlegung gem. § 25 MedienGesetz sowie Anbieteridentifizierung gem. § 5 Abs.
        1
        E-Commerce-Gesetz

    </p>
    <p><strong>Sektionschef i.R. Dr. Wolfgang Fellner</strong></p>
    <p>
        Adresse: Czartoryskigasse 159/10, 1170 Wien
    </p>
    <p>Tel.: +43 664 247 4445</p>
    <!-- -->
    <p>Email: contact@ögg.org</p>
    <p>

        Für Konzeption & Inhalt verantwortlich: Sektionschef i.R. Dr. Wolfgang Fellner
    </p>

    <p>
        Erklärung/Haftungsausschluss: Der Herausgeber kann nicht für die Korrektheit, Vollständigkeit bzw. die Qualität der
        dargelegten Auskünfte haftbar gemacht werden. Die Geltendmachung von Forderungen aus der Haftung für Schäden, welche
        durch die Weiterverwendung dieser Informationen, einschließlich jener Informationen, welche unvollständig oder
        unkorrekt sind, entstanden sind, ist deshalb ausgeschlossen. Der Herausgeber übernimmt keine Verantwortung für
        jeglichen mit dieser Seite mittels Link verknüpften bzw. referenzierten Inhalt, wenn er nicht nachweislich volle
        Kenntnisse vom gesetzeswidrigen Inhalt hat und er tatsächlich im Stande sein würde, die Besucher seiner Website
        davon abzuhalten, jene Seiten anzusehen.
    </p>

    <p>
        Copyright: Alle Inhalte auf dieser Website sind urheberrechtlich (©) geschützt. Texte, Bilder, Grafiken, und
        Animationen unterliegen dem Schutz des Urheberrechts und anderen Schutzgesetzen. Der Inhalt darf nicht kopiert,
        verbreitet, verändert oder Dritten zugänglich gemacht werden. Jede Nutzung, insbesondere die Speicherung in
        Datenbanken, Vervielfältigung, Verbreitung, Bearbeitung sowie jegliche Form gewerblicher Nutzung sowie die
        Weitergabe an Dritte, auch in Teilen oder in überarbeiteter Form, ist ohne Zustimmung des Urhebers untersagt.
    </p>

    <p>Quellenangaben für die verwendeten Bilder: Sektionschef i.R. Dr. Wolfgang Fellner</p>

    <p>
        Datenschutzerklärung und Informationen gemäß Art 13 DSGVO
        Der Schutz Ihrer persönlichen Daten ist uns ein besonderes Anliegen. Wir verarbeiten Ihre Daten daher ausschließlich
        auf Grundlage der gesetzlichen Bestimmungen, insbesondere der DSGVO und dem Datenschutzgesetz. In diesen
        Datenschutzinformationen informieren wir Sie über die wichtigsten Aspekte der Datenverarbeitung im Rahmen unserer
        Website.
    </p>

    <p>Cookies</p>

    <p>
        Unsere Website verwendet so genannte Cookies. Dabei handelt es sich um kleine Textdateien, die mit Hilfe des
        Browsers auf Ihrem Endgerät abgelegt werden. Sie richten keinen Schaden an.
    </p>

    <p>
        Wir nutzen Cookies dazu, unser Angebot nutzerfreundlich zu gestalten. Einige Cookies bleiben auf Ihrem Endgerät
        gespeichert, bis Sie diese löschen. Sie ermöglichen es uns, Ihren Browser beim nächsten Besuch wiederzuerkennen.
    </p>

    <p>
        Wenn Sie dies nicht wünschen, so können Sie Ihren Browser so einrichten, dass er Sie über das Setzen von Cookies
        informiert und Sie dies nur im Einzelfall erlauben.
    </p>

    <p>Bei der Deaktivierung von Cookies kann die Funktionalität unserer Website eingeschränkt sein.</p>

    <p>Kontakt mit uns</p>

    <p>
        Wenn Sie per Formular auf der Website oder per E-Mail Kontakt mit uns aufnehmen, werden Ihre angegebenen Daten
        zwecks Bearbeitung der Anfrage und für den Fall von Anschlussfragen sechs Monate bei uns gespeichert. Die
        Rechtsgrundlage hierfür liegt in Art 6 Abs. 1 lit. b) DSGVO. Diese Daten geben wir nicht ohne Ihre Einwilligung
        weiter.
    </p>

    <p>Ihre Rechte</p>

    <p>
        Ihnen stehen grundsätzlich die Rechte auf Auskunft, Berichtigung, Löschung, Einschränkung der Verarbeitung,
        Datenübertragbarkeit, Widerruf einer Einwilligung und Widerspruch gegen die Verarbeitung zu. Wenn Sie glauben, dass
        die Verarbeitung Ihrer Daten gegen das Datenschutzrecht verstößt oder Ihre datenschutzrechtlichen Ansprüche sonst in
        einer Weise verletzt worden sind, können Sie sich bei der Aufsichtsbehörde beschweren. In Österreich ist dies die
        Datenschutzbehörde.
    </p>

    <p>Kontaktdaten:</p>

    <p>
        Österreichische Datenschutzbehörde
        Wickenburggasse 8
        1080 Wien
    </p>

    <p>Telefon: +43 1 52 152-0</p>

    <p>E-Mail: dsb@dsb.gv.at</p>

    <p>Datenschutzrechtlich verantwortlich ist:</p>

    <p>Sektionschef i.R. Dr. Wolfgang Fellner</p>

    <p>Czartoryskigasse 159/10, 1170 Wien</p>

    <p>Tel: +43 664 247 4445</p>
    <!--  -->
    <p>Email: contact@ögg.org</p>

    <p>Unsere Datenschutzkoordinatorin erreichen Sie unter:</p>

    <p>Sektionschef i.R. Dr. Wolfgang Fellner</p>

    <p>Tel: +43 664 247 4445</p>
    <!-- +436646109112 -->
    <p>Email: contact@ögg.org</p>
    <p>Mit freundlicher Unterstützung von der: </p>
    <a href="https://spengergasse.at" target="_blank"><img src="/assets/img/spengergasse-logo.png" alt="" srcset=""></a>
</div>
