<div class="container">
    <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-7">
            <h1>Willkommen - Bienvenidos - Welcome</h1>

            <div id="image">
                
            </div>
        </div>
        <div class="col-sm-3">
            <div id="quicklinks">
                <h3 id="title">Quicklinks</h3>
                <ul>
                    <a href="https://google.com" target="_blank">
                        <li>Lorem Ipsum</li>
                    </a>
                    <a>
                        <li>Lorem Ipsum</li>
                    </a>
                    <a>
                        <li>Lorem Ipsum</li>
                    </a>
                    <a>
                        <li>Lorem Ipsum</li>
                    </a>
                    <a>
                        <li>Lorem Ipsum</li>
                    </a>
                    <a>
                        <li>Lorem Ipsum</li>
                    </a>
                </ul>
            </div>
        </div>
    </div>
</div>