@use "src/app/_scss/components";
@use "src/app/_scss/colors";


.table-container {


  width: 100%;
  overflow-x: auto;
  text-align: center;
  margin: 15px;

  table {
    width: 100%;
  }


}

.button {
  &-create {
    @include components.button(#006400, white);
  }

  &-delete {
    @include components.button(#7c0404, white);
    @media screen and(max-width: 700px) {
      width: 100%;
    }
  }

  &-modify {
    @include components.button(#a45e01, white);
    @media screen and(max-width: 700px) {
      width: 100%;
    }
  }

}
