<div class="container">
    <h1>Zielsetzung</h1>
    <hr>

    <p>
        Seit dem Ende des 2. Weltkriegs gibt es in Österreich bilaterale und multilaterale Freundschafts-Gesellschaften,
        deren Ziel es ist, ein möglichst dichtes Netz der Völkerverständigung und Kooperation zu knüpfen. Damit werden
        die
        internationalen Beziehungen Österreichs auf einer informellen aber besonders effektiven Ebene nachhaltig
        unterstützt.
    </p>

    <p>
        Die Österreich-Guatemala Gesellschaft hat das Ziel, zur Vertiefung der gegenseitigen Völkerverständigung und
        Völkerfreundschaft zwischen Österreich und Guatemala beizutragen. Dies soll durch bestimmte Aktivitäten wie
        Erfahrungsaustausch, Einbeziehung der betroffenen Einrichtungen und Organisationen geschehen. Der Verein
        bezweckt
        die Förderung und Entwicklung von übergreifenden Projekten und Ideen, etwa durch die Durchführung von
        Veranstaltungen oder die Umsetzung und Veröffentlichung gemeinsamer Initiativen, die dem Vereinszweck dienlich
        sein
        können.
    </p>
    <p>
        Die Tätigkeit des Vereins ist nicht auf Gewinn gerichtet und dient unmittelbar und ausschließlich den im
        Vereinszweck genannten gemeinnützigen Zwecken und damit dem Wohle der Gesellschaft.
    </p>


</div>