<div class="container">
    <h1>Mitgliedschaft</h1>
    
    <p>Hier finden Sie das Beitrittsformular und eine Anleitung zur Mitgliedschaft</p>
    <hr>
    <a href="/assets/downloads/Beitrittserklaerung-OEGG.pdf" target="_blank">Beitrittserklärung Download</a>
    <!-- <section id="tutorial">
        <h2>Anleitung</h2>
        <hr>
        <p>Minim aute sit cillum esse adipisicing dolor laborum dolor exercitation magna. Reprehenderit occaecat duis aliquip veniam ex. Aute incididunt officia exercitation reprehenderit officia incididunt exercitation. Consectetur nulla ex id ullamco tempor occaecat ipsum. Fugiat excepteur reprehenderit enim in amet culpa. Dolore amet consectetur sit ullamco sit magna elit laborum fugiat proident.</p>
        <p>Consectetur incididunt nisi dolore aliquip eiusmod. Qui laboris non dolore cillum cupidatat labore cupidatat ullamco est nisi sit sunt. Incididunt eiusmod quis amet voluptate elit tempor ullamco deserunt adipisicing in ad fugiat pariatur. Esse dolore do est qui aliquip consectetur excepteur eu reprehenderit duis fugiat consequat occaecat consectetur.</p>
        <p>Ea enim culpa culpa quis non aliquip est amet non. Veniam minim et sunt exercitation exercitation velit. Sit eu nulla id culpa et adipisicing laboris reprehenderit laboris Lorem aliqua qui mollit amet. Deserunt fugiat aliqua Lorem laborum sunt nisi. Nostrud consectetur dolore laboris deserunt ipsum cupidatat ex laborum. Mollit veniam ex pariatur proident eiusmod nisi eiusmod voluptate amet reprehenderit do. Labore eiusmod ad enim deserunt et occaecat ullamco cupidatat quis reprehenderit elit fugiat.</p>
    </section> -->
</div>