<div class="container">
    <h1>Datenschutzerklärung der Österreich-Guatemala Gesellschaft</h1>


    <p>
        1.1 Die Österreich Guatemala Gesellschaft e.v., ZVR-Zahl 261596397, Czartoryskigasse , in der Folge kurz ÖGG
        genannt,
        verwendet personenbezogene Daten ausschließlich im Rahmen der Bestimmungen der DSGVO, des DSG 2018 sowie der
        dazu
        ergangenen
        Durchführungsverordungen sowie auf Basis dieser Datenschutzerklärung. Die verwendeten personenbezogenen Daten
        werden
        dabei streng vertraulich behandelt und stehen nur einem reduzierten Kreis des Vorstandes (Präsident,
        Vizepräsident,
        Generalsekretär)
        zur Verfügung. Andere Mitglieder der Gesellschaft oder Vorstandsmitglieder haben keinen direkten oder
        indirtekten
        Zugriff auf diese Daten.
    </p>
    <p>
        1.2. Bei der Aufnahme in die Gesellschaft werden die im Aufnahmevertrag genannten bzw. die bei Aufnahme in die
        Interessentenliste bekannt gegebenen personenbezogenen Daten wie etwa der Titel, die Anrede, der Vor- und
        Nachname,
        die Adresse (Wohn- oder Rechnungsadresse), Telefonnummer(n) und die E-Mail-Adresse von der ÖGG gespeichert.
        Im Zuge der Anmeldung zu Veranstaltungen werden darüber hinaus Informationen für die Abwicklung der
        Veranstaltung
        (Name, Kontaktdaten, Begleitung) gespeichert.
    </p>

    <p>
        1.3. ÖGG verwendet diese personenbezogenen Daten für folgende Zwecke:

        Anlegen und Pflegen der Interessenten- und Mitgliederstammdaten für Vereinszwecke
        Rechnungslegung
        Buchhaltung
        Korrespondenz mit den Interessenten und Mitgliedern
        Zusendung von elektronischem Informationsmaterial über Veranstaltungen und Tätigkeiten der ÖGG (wie etwa
        Einladungen, Veranstaltungsberichte, Policy Papers oder Newsletter) oder unterstützte Veranstaltungen,
        Einladungen
        oder, etc per E-Mail sowie persönliche oder telefonische Kontaktaufnahme (all dies jedoch nur, sofern der
        Betroffene
        diesen Werbemaßnahmen zugestimmt hat);
        Unter Umständen werden personenbezogene Daten (Name und Adresse) an Druckereien als Auftragsverarbeiter
        weitergeleitet, um etwa Post zu versenden, die Administration der Gesellschaft vorzunehmen oder
        Sicherheitserfordernisse bei Veranstaltungen (etwa Anwesenheits- und Einlasskontrolle) zu erfüllen. Die
        Weitergabe
        an Auftragsverarbeiter erfolgt nur auf Basis entsprechender und den datenschutzrechtlichen Bestimmungen
        entsprechenden Vereinbarungen, mit denen wir dafür Sorge tragen, dass Ihre personenbezogenen Daten nur nach
        unseren
        Weisungen verwendet werden.
    </p>


    <p>
        1.4. Die ÖGG verarbeitet die in 1.2 genannten personenbezogenen Daten zu den in 1.3 genannten Zwecken aufgrund

        der Einwilligung gem Art 6 Abs 1 lit a DSGVO im Rahmen der Registrierung als Mitglied, Interessent, Nutzer der
        Homepage
        im Rahmen der Vertragsanbahnung und -erfüllung (Mitgliedschaft) gem Art 6 Abs 1 lit b DSGVO
    </p>


    <p>
        1.5. Diese Verwendung der personenbezogenen Daten kann – soweit gesetzlich zulässig – jederzeit widerrufen
        werden.
        Widerrufe und Fragen zur Datenverwendung richten Sie bitte an:
    </p>
    <p>
        -per Post: Österreich-Guatemala Gesellschaft Czartoryskigasse 159/10 1170 Wien
    </p>
    <p>
        -per E-Mail: wo.fellner@gmx.net
    </p>



</div>